{% extends '@KoalamonDefault/Default/master/admin.html.twig' %}

{% block admin %}
    <h1>Jira</h1>

    <div id="integration">
        <div class="code">https://webhook.koalamon.com/?format=jira&api_key={{ project.apiKey }}</div>
    </div>

{% endblock %}