{% extends '@KoalamonDefault/Default/master/admin.html.twig' %}

{% block admin %}

    <div class="box-element first">
        <div class="box-element-header">Webhook</div>
        <div class="box-element-content">
            <div class="options-element">
                <div class="option">
                    <h2><strong>Webhook Url</strong> - {{ project.name }}</h2>
                    <div class="code" style="white-space: normal; word-wrap: break-word;">https://webhook.koalamon.com/?api_key={{ project.apiKey }}</div>
                </div>
                <div class="help">
                    {% content "integration-webhook-url" %}
                    The koalamon webhook is the easiest way to integrate your own system. The only thing you have to do is
                    to fire a http request agains our server.
                    {% endcontent %}
                </div>
            </div>

            <div style="clear: both"></div>

            <div class="options-element">
                <div class="option">
                    <h2><strong>Webhook Format</strong> - As every webhook ours needs a special format.</h2>
<div class="code"><pre style="margin: 0">{
    "identifier":"&lt;the event identifer&gt;",
    "system":"&lt;the system&gt;",
    "status":"&lt;the status&gt;",
    "message":"&lt;the message&gt;",
    "type":"&lt;the name of the tool sending the event&gt;",
    "value":&lt;an integer value&gt;
}</pre></div>
                </div>
                <div class="help">
                    {% content "integration-webhook-format" %}
                    <div>
                        <ul>
                            <li>
                                <strong>identifier</strong> - The identifier must be an unique representant of this event type.
                            </li>
                            <li>
                                <strong>system</strong> - This must be the identifer of one of your systems.
                            </li>
                            <li>
                                <strong>status</strong> - the status of this event. It can either be <strong>success</strong> or <strong>failure</strong>.
                            </li>
                            <li>
                                <strong>message</strong> - the message that will be shown on the incident dashboard.
                            </li>
                            <li>
                                <strong>type</strong> - the identifier for the tool that is sending the event. If the tool is not registered when sending
                                the event the tool will be created. Afterwards you can add the description and the name of that tool in the adminstration tab.
                            </li>
                            <li>
                                <strong>value</strong> - The value is an optional field. It represents the result of the test that triggered the event.
                            </li>
                        </ul>
                    </div>
                    {% endcontent %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}