{% extends '@KoalamonDefault/Default/master/admin.html.twig' %}

{% block admin %}
    <h1><Icinga></Icinga></h1>

    <div id="integration">
        <div class="code">
            jenkins.{{ project.apiKey }}@koalamon.com
        </div>
    </div>

{% endblock %}