{% extends '@KoalamonDefault/Default/master/admin.html.twig' %}

{% block admin %}
    <h1>
        Icinga
    </h1>

    <div id="integration">
        <div class="code">
            icinga.{{ project.apiKey }}@{{ app.request.getSchemeAndHttpHost() | replace({'http://': '', 'https://': ''}) }}
        </div>
    </div>

{% endblock %}