{% extends '@KoalamonIntegrationWebhook/Default/integration.html.twig' %}

{% block integration %}

    <div class="box-element first">
        <div class="box-element-header">Icinga</div>
        <div class="box-element-content">

            <div class="options-element">
                <div class="option">
                    <img src="{{ asset('bundles/koalamonintegrationemail/images/icinga.png') }}" width="200" style="margin-left: 100px">
                </div>
                <div class="help">
                    {% content "integration-icinga-intro" %}
                    Icinga is a resiliant, open source monitoring and metric solution. Lay a monitoring
                    foundation based on our new object-based, rule-driven configuration format with unseen
                    flexibility and performance.
                    {% endcontent %}
                </div>
            </div>

            <div style="clear: both"></div>

            <div class="options-element">
                <div class="option">
                    <div class="code" style="white-space: normal; word-wrap: break-word; font-size: 13px">
                        icinga.{{ project.apiKey | lower }}@koalamon.com
                    </div>
                </div>
                <div class="help">
                    {% content "integration-icinga-step1" %}
                    The incinga configuration is straight forward. Everything you have to do is to
                    <a href="http://docs.icinga.org/latest/en/notifications2.html">create a notification</a>
                    for the alerts you want and send it to the email address an the left.
                    {% endcontent %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
